body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.black_light_background{
  background-color: rgba(0, 255, 0, 0.29);
  border: 2px solid black;
  border-radius: 20px;

}
.mGreen{
  color: rgba(0, 255, 0, 0.5);
  width: 100%;
  border: 2px solid red;
  background-color: violet;
}
.mainImage{
  background-repeat: no-repeat;
  background-size: cover;
}
.main-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.h1-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


